

#menu{
    left: 820px;
    right: 5px;
    top: 0px;
    max-width: 50%;
    border-left: 0px;
    padding-left: 0px;
}

#foto{
    width: auto;
    height: 100%;
    margin-left: -10px;
    border-radius:50%;
    border: 2px solid black;
    display: inline-block;
    position: relative;
    width: 200px;
    height: 200px;
    overflow: hidden;
    border-radius: 50%;
}
strong{
    color: black;
}
